<div class="common-header-container">
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <div class="logo-menu">
                        <mat-icon>menu</mat-icon>
                    </div>
                </div>
            </div>
            <div class="col-10 text-right">
                <div class="account-detail">
                    <label #currentUsername>{{firstName}} {{lastName}}</label>
                </div>
            </div>
        </div>
    </div>
</div>